body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 48px;
  padding: 40px;
  margin: 0;
}

h2 {
  margin: 0;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.show {
  display: block;
}

.transparent {
  color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-background {
  margin: 0;
  max-width: 75vw;
}

.name-text {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-size: clamp(16px, 2vw, 15vw);
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-resume {
  margin: 5px;
}

.button {
  height: 43px;
  width: 43px;
  padding:6px;
  border-radius: 20%;
  border: 1px solid transparent;
}

.accordion {
  display: flex;
  justify-content: center;
  padding: 6px;
  gap: 3px;
}

.accordion-subheader {
  margin: 0;
  padding: 10px;
  align-items: center;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.accordion-link {
  max-width: 60px;
}

.accordion-link > h3 {
  font-size: 11px;
  margin: 0;
  font-weight:500;
  text-align: center;
}

.accordion-subsection {
  margin: 0;
  padding: 20px;
}

.title-placeholder {
  position:fixed;
  top: 0px;
  padding:20px 40px;
}

.tile {
  height: min-content;
  margin:20px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.tile-header {
  width: auto;
  position: static;
  padding: 40px;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.tile-desc {
  position: static;
  padding: 40px 40px 40px 40px;
  border-radius: 0 0 20px 20px;
  width:auto;
  text-align: center;
}

.tile-img {
  max-height: 150px;
  max-width: 300px;
}

.degree {
  width: auto;
  text-align: center;
  padding: 20px;
}

.sdsu-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.corporate-job {
  width: auto;
  padding: 40px 60px;
  margin-bottom: 20px;
}

.job-overview {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.job-img {
  width: 20vw;
  padding: 5px;
  border-radius: 10px;
}

.job-title {
  width: 50vw
}

.job-desc {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.desc-list {
  display: block;
  width: 75%;
}

.background-img {
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .name-text {
    font-size: clamp(16px, 6vw, 15vw);
  }
  .sdsu-tiles {
    display: grid;
    grid-template-columns: 1fr;
  }
  .desc-list {
    width: 100%;
  }
}